{% schema %}
  {
    "name": "Crest",
    "settings": [],
    "presets":[
    {
      "name":"Crest",
      "category":"Overlay"
    }
  ]
  }
{% endschema %}

<script>
  let idleTimer = null;
  let idleState = false;
  
  function showCrest(time) {
    clearTimeout(idleTimer);
    if (idleState == true) {
      $("#crest").addClass("inactive");
    }
    idleState = false;
    idleTimer = setTimeout(function() {
      $("#crest").removeClass("inactive");
      idleState = true;
    }, time);
  }
  
  showCrest(2000);
  
  $(window).mousemove(function(){
      showCrest(2000);
  });
</script> 

    <style>
      #crest {
        transition: opacity 0.6s ease-out;
      }
      
      .inactive {
        display:none;
      }
    </style>

    <div id="crest" class="inactive">Show after idle.</div>