{% schema %}
  {
    "name": "Crest",
    "settings": [],
    "presets":[
    {
      "name":"Crest",
      "category":"Overlay"
    }
  ]
  }
{% endschema %}

<script>
  let idleTimer = null;
  let idleState = false;
  
  function showCrest(time) {
    clearTimeout(idleTimer);
    if (idleState == true) {
      $("#crest").addClass("inactive");
    }
    idleState = false;
    idleTimer = setTimeout(function() {
      $("#crest").removeClass("inactive");
      idleState = true;
    }, time);
  }
  
  showCrest(2000);
  
  $(window).mousemove(function(){
      showCrest(2000);
  });
</script> 

    <style>
      #crest {
        transition: opacity 0.6s ease-out;
      }
      .inactive {
        display:none;
      }
      .overlay{
        background-color: rgba(255, 238, 238, 0.5);
        position: absolute;
        width: 100%;
        z-index: 400;
        height: 100%;
        top: 0px;
        animation: fadeIn 0.5s both ease-in; 
      }
      @keyframes fadeIn {
         from    { opacity: 0; }
         to      { opacity: 1; }
      }
      
    </style>

    <div id="crest" class="inactive">
      <div class="overlay">Show after idle.</div>
    </div>