{% schema %}
  {
    "name": "Crest",
    "settings": [],
    "presets":[
    {
      "name":"Crest",
      "category":"Overlay"
    }
  ]
  }
{% endschema %}

<script>
  function noIdlingHere() {
  
      function yourFunction() {
          $(".crest").show();
      }
  
      function resetTimer() {
          var t = setTimeout(yourFunction, 2000);  // time is in milliseconds
          clearTimeout(t); // is a global function, just as setTimeout
      }    
  
      window.addEventListener('mousemove', resetTimer, true);
      window.addEventListener('touchstart', resetTimer, true);
      window.addEventListener('touchmove', resetTimer, true);
      window.addEventListener('scroll', resetTimer, true);
  }
  
  noIdlingHere();
</script> 

    <style>
      .overlay{
        opacity:    0.5; 
        background: #000; 
        width:      100%;
        height:     100%; 
        z-index:    10;
        top:        0; 
        left:       0; 
        position:   fixed; 
        display:none;
      }
      .crest{
        width:200px;
        background:blue;
        color:#fff;
        padding:5px;
        text-align:center;
        display:none;
      }
    </style>

    <div class="crest">Will hide in 2 secs</div>