{% schema %}
  {
    "name": "Crest",
    "settings": [],
    "presets":[
    {
      "name":"Crest",
      "category":"Overlay"
    }
  ]
  }
{% endschema %}

<script type="text/javascript">
var idleTime = 0;
$(document).ready(function () {
//Increment the idle time counter every minute.
var idleInterval = setInterval(timerIncrement, 1000); // 1 minute

//Zero the idle timer on mouse movement.
$(this).mousemove(function (e) {
    idleTime = 0;
});
$(this).keypress(function (e) {
    idleTime = 0;
});
});

function timerIncrement() {
idleTime = idleTime + 1;
if (idleTime > 2) { // 2 minutes
   $(".crest").fadeOut();
}
}
</script> 

    <style>
      .overlay{
        opacity:    0.5; 
        background: #000; 
        width:      100%;
        height:     100%; 
        z-index:    10;
        top:        0; 
        left:       0; 
        position:   fixed; 
      }
      .crest{
        width:200px;
        background:blue;
        color:#fff;
        padding:5px;
        text-align:center;
      }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <div class="crest">Will hide in 2 secs</div>